@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,800,100,200,300,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,500,600,700,800,300);

@gray_light: #efefef;
@gray: #999;
@gray_dark: #222;
@white:#fff;
@color:#49CE99;

body{
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.3em;
  color: @gray_dark;
}

p{
  color: @gray;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
  a{color: @color;}
}

a{
  color: @gray_dark;
  &:hover{
    transition: all linear 0.2s;
    color: @color;
    text-decoration: underline;
  }
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  display: block;
  width: 100%;
}

.row{
  margin: 0;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}

.nopadding{padding: 0;}

.start-home{
  overflow: hidden;
}

.box-header-int{
  padding: 30px 0;
  width: 100%;
  border-bottom: 1px solid @gray_light;
}

.box-header{
  padding: 30px 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  &:hover{
    transition: all linear 0.2s;
    background: @white;
  }
}

.menu-nav{
  margin-top: -15px;
  li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    a{
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 2px;
      &:hover{
        text-decoration: none;
      }
      span{
        font-size: 1.2em;
      }
    }
    .sub-menu{
      display: none;
      background: @white;
      border: 2px solid @gray_dark;
      padding: 20px 20px 10px;
      width: 250px;
      position: absolute;
      z-index: 5;
      top: 15px;
      li{
        width: 100%;
        margin: 0;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid @gray_light;
        &:last-child{
          border-bottom: 0;
        }
        a{
          font-weight: 300;
        }
      }
    }
    &:hover{
      .sub-menu{display: block;}
    }
  }
  .active{
    a{border-bottom: 3px solid @gray_dark;}
  }
}

.nav-sec{
  li{
    a{
      text-transform: capitalize;
      font-weight: 300;
    }
  }
}

.menu-nav-mobile{
  padding: 0 10px;
  font-size: 1.5em;
  color: @gray_dark;
  margin-top: -3px;
  margin-left: -13px;
}

.logo{
  font-weight: 900;
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  span{color: @color;}
}

.products-home{
  padding: 90px 0;
}

.categorie-page{
  padding: 30px 0 60px;
}

.nav-tabs{
  border: 0;
  text-align: center;
}

.nav>li{
  display: inline-block;
  float: none;
  margin: 0 15px 20px 15px;
}

.nav-tabs>li>a{
  padding: 0 0 3px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2em;
  border: 0;
  &:hover{
    background: none;
    border: 0;
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: 0;
  border-bottom: 3px solid @gray_dark;
  color: @gray_dark;
}

.products-list{
  overflow: hidden;
  padding-top: 10px;
  li{
    width: 100%;
    position: relative;
    margin: 1px auto;
    .box-img{
      width: 100%;
      padding: 60px 0;
      background: @gray_light;
      img{
        width: 80%;
        margin: 0 auto;
        height: 125px;
      }
    }
    .box-description{
      display: none;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      color: @gray_dark;
      background: @white;
      width: 101%;
      text-align: center;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      padding: 84px 15px;
      overflow: hidden;
      opacity: 0.95;
      small{
        display: block;
        font-weight: 300;
        font-size: 1.1em;
        margin: 10px 0 20px;
      }
    }
    a{
      display: block;
      &:hover{
        text-decoration: none;
        .box-description{
          display: block;
          color: @color;
          .btn-line{
            border: 2px solid @color;
          }
        }
      }
    }
  }
}

.btn-line{
  border:2px solid @gray_dark;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  background: @white;
  &:hover{
    transition: all linear 0.2s;
    border: 2px solid @color;
    background: @color;
    color: @white;
  }
}

.site-description{
  text-align: center;
  padding: 60px 0 90px;
  h1{
    text-transform: uppercase;
    font-weight: 200;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 3.5em;
  }
  p{
    padding: 0 10px;
  }
}

.footer{
  background: @gray_dark;
  padding: 30px 0;
  .menu-nav{
    a{
      color: @gray_light;
      &:hover{
        color: @color;
        border-bottom:3px solid @color;
        text-decoration: none;
      }
      span{
        font-size: 1.8em;
      }
    }
    .active{
      a{border-bottom:3px solid @gray;}
    }
  }
  p{
    color: @gray;
    font-size: 0.9em;
    margin: 15px 10px 0;
  }
  .nav-icons{
    text-align: right;
    p{
      margin: 8px 10px 0;
    }
  }
}

.aside-nav{
  li{
    margin-bottom: 10px;
    b{
      text-transform: uppercase;
      margin-bottom: 5px;
      display: block;
    }
    a:hover{
      color: @color;
      text-decoration: none;
    }
  }
  .active{
    a{
      font-weight: 600;
    }
  }
  .separator{
    margin-top: 25px;
  }
}

.box-pagination{
  margin-top: 30px;
  ul{
    width: 100%;
    margin: 0;
    text-align: center;
    li{
      display: inline-block;
      a{
        color: @gray_dark;
      }
      &:hover, &:focus, &:active{
        a{
          color: @color;
          background: @white;
          border-color: @color;
        }
      }
    }
  }
  .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: @color;
    background: @white;
    border-color: @color;
  }
}

.product-view{
  padding: 30px 0;
  .box-product-img{
    max-height: 460px;
    max-width: 600px
  }
}

.carousel-control.right, .carousel-control.left{
  background-image:none;
  opacity: 0.8;
}

.box-product-img{
  margin-bottom: 30px;
}

.box-product-description{
  h1{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.1em;
    margin: 0;
    padding: 0;
  }
  input{
    font-size: 1.2em;
    padding: 9px 10px;
    width: 80px;
    float: left;
  }
  .btn-line{
    float: left;
    width: 210px;
    text-align: center;
    font-size: 1.3em;
    padding: 10px 0;
    &:hover{
      text-decoration: none;
    }
  }
  .action-product{overflow: hidden;}
  p{
    font-size: 1em;
    line-height: 1.2em;
    padding: 20px 0 10px;
  }
}

.price{
  font-size: 1.4em;
  color: @color;
  font-weight: 400;
  padding: 30px 0;
  .old-price{
    color: @gray;
    text-decoration:line-through;
    font-weight: 200;
    display: inline-block;
    padding-right: 10px;
  }
}

.panel-default{
  border-color: transparent;
  border: 0;
  box-shadow: 0 0 0;
}

.panel-default>.panel-heading{
  padding: 0;
  background: none;
  h4{
    a{
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
  border-top-color: transparent;
  border-top: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.panel-body{
  padding: 15px 0;
}

.midias-share{
  li{
    margin: 0 5px 20px 0;
    display: inline-block;
    span{
      font-size: 1.6em;
    }
  }
}

.table{
  margin-bottom: 0;
  h3{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    text-align: right;
  }
}

.payment{
  padding-bottom: 30px;
  h2{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
  }
  p{
    a{
      font-weight: 500;
      text-transform:capitalize;
      font-size: 0.8em;
      color: @color;
      margin-top: 3px;
      display: block;
    }
  }
  .btn-line{
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding: 30px 0;
    display: block;
    margin: 30px auto 10px auto;
    &:hover{
      text-decoration: none;
    }
  }
  .data-payment{
    margin-top: 25px;
    label{
      display: block;
      margin: 10px 0 5px;
      font-weight: 500;
    }
    input{
      width: 100%;
      padding: 10px;
    }
  }
  .action-payment{
    small{
      display: block;
      text-align: center;
    }
  }
}

.success{
  background: @color;
  padding: 20px 0 50px;
  text-align: center;
  h1{
    text-transform: uppercase;
    font-weight: 700;
  }
  p{
    color: @gray_dark;
    margin: 20px auto 50px auto;
    max-width: 600px;
  }
  .btn-line{
    background: transparent;
    font-size: 1.2em;
    padding: 10px 30px;
    &:hover{
      background: @white;
      border-color: @white;
      color: @color;
      text-decoration: none;
    }
  }
}

.list-posts{
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  li, .box-post{
    padding: 30px 0 65px;
    border-bottom: 1px solid @gray_light;
    margin-bottom: 35px;
    overflow: hidden;
    &:last-child{
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
  .box-img{
    height: 200px;
    overflow: hidden;
  }
  h1{
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
  }
  small{
    display: inline-block;
    font-size: 0.9em;
    margin:20px 10px 0 0;
    color: @gray;
  }
  p{
    padding: 25px 0;
    font-weight: 500;
  }
  a{
    &:hover, &:focus{
      text-decoration: none;
    }
  }
  .categories-post{
    margin: 20px 0;
    padding: 0;
    li{
      display: inline-block;
      margin: 0 10px;
      padding: 0;
      border: 0;
      a{
        color: @gray;
        &:hover, &:focus{
          color: @color;
        }
      }
    }
  }
}

.post{
  .post-content{
    text-align: left;
    p{
      font-size: 1.3em;
      font-weight: 400;
    }
  }
  .box-post{
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .pagination-post{
    margin: 30px 0;
    overflow: hidden;
    font-size: 1.1em;
    .next{
      text-align: right;
    }
    .prev{
      text-align: left;
    }
    div{
      width: 49%;
      text-align: center;
      text-transform: uppercase;
      a{
        display: block;
        border-top: 3px solid @gray_light;
        padding-bottom: 30px;
        &:hover{
          border-top: 3px solid @color;
        }
      }
      span{
        display: block;
        padding: 30px 0 15px;
      }
      b{
        display: block;
        font-size: 1.2em;
      }
    }
  }
}

.box-comments{
  padding: 30px 0 60px;
}

.share-post{
  margin-bottom: 10px;
  .midias-share{
    li{
      padding: 0;
      margin: 10px 5px;
      span{
        font-size: 2em;
      }
    }
  }
}

.related-post{
  background: @gray_light;
  li{
    padding: 10px;
    small{
      margin: 10px 0;
    }
    p{
      padding: 0 0 5px 0;
    }
    h1{
      font-size: 1.8em;
    }
    .btn-line{
      background: none;
      border: 0;
      padding: 0;
      &:hover, &:focus{
        color: @color;
      }
    }
  }
}

.newslatter{
  background: @color;
  padding: 50px 0;
  .form-group{
    margin-top: 15px
  }
  .form-control{
    border:0;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 0 0;
    color: @gray_dark;
  }
  .btn{
    background: @gray_dark;
    color: @white;
    border-radius: 0;
    &:hover{
      color: @color;
    }
  }
}

.contact-page{
  padding: 50px 0;
  .btn{
    background: @gray_dark;
    color: @white;
    border-radius: 0;
    border: 0;
    &:hover{
      color: @color;
    }
  }
  input, textarea{
    border: 1px solid @gray_dark;
    border-radius: 0;
    box-shadow: 0 0 0;
  }
}

.text-red{
  color: #D83D3D;
}

.text-green{
  color: #2FD61E;
}

.text-blue{
  color: #1B83F5;
}

.text-gray{
  color: #C8C9D2;
}

.text-orange{
  color: #FF750C;
}

.box-login{
  background: @gray_light;
  padding: 50px;
}

.box-register{
  padding: 50px;
}

@media (min-width: 900px){
  .products-list{
    li{
      width: 24.5%;
      float: left;
      margin: 1px;
    }
  }
  .product-view{
    .box-product-img{
      float: left;
    }
    .box-product-description{
      float: right;
      width: 320px;
      margin-top: 50px;
    }
  }
  .data-payment{
    margin-top: 55px !important;
    padding-left: 50px;
  }
  .success{
    padding: 210px 0;
  }
  .list-posts{
    padding-top: 50px;
  }
}

@media (min-width: 1200px){
  .product-view{
    .box-product-description{
      width: 400px;
    }
  }
  .payment{
    padding: 85px 0;
  }
}

.client-account{
  background: @gray_light;
  padding: 50px 0;
  h1{
    margin: 0 0 15px;
  }
  .btn-line{
    background: @gray_light;
    &:hover, &:focus{
      color: @color;
      text-decoration: none;
    }
  }
}

.client-request{
  padding: 50px 0;
}
